{% extends 'base.html.twig' %}

{% block title %}Accueil - Shaquille O'League{% endblock %}

{% block body %}


<section class="relative w-full h-[500px] bg-cover bg-center hero-banner">

    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-full flex justify-around flex-col md:flex-row z-10">

        <!-- Texte avec overlay derrière -->
        <div class="w-full md:w-1/2 flex flex-col justify-center text-center md:text-left p-4 sm:p-6 z-10">
            <div class="bg-black/60 p-4 rounded-lg inline-block">
                <h1 class="text-3xl sm:text-4xl sm:text-center md:text-5xl font-bold text-white uppercase mb-4">
                    Bienvenue dans la Shaquille O'League
                </h1>
                <p class="text-white text-base sm:text-lg sm:text-center md:text-xl font-bold">
                    Découvrez les équipes, les classements et toutes les compétitions de notre ligue.
                </p>
            </div>
        </div>

        <!-- Logos -->
        <div class="w-full md:w-1/2 flex items-end justify-center md:items-center md:justify-center p-4">
            <div class="grid grid-cols-7 grid-rows-4 gap-2 w-full h-auto items-center md:h-full md:pl-20">
                {% for logo in teamLogos %}
                

                    <img src="{{ asset(logo) }}" alt="Team logo"
                        class="w-full max-h-[30px] sm:max-h-10 md:max-h-[60px] object-contain transition duration-300">
                
                {% endfor %}
            </div>
        </div>

    </div>

</section>

<section class="bg-[#0C101B] py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-white text-center mb-12">Nos Compétitions</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">

            <!-- O'League -->
            <div class="group">
                <a href="" class="mx-4 sm:mx-8 md:mx-0 bg-gray-900 rounded-lg p-6 sm:p-8
                  transition-all  md:shadow-none  md:hover:shadow-[0_0_20px_5px_rgba(50,255,50,0.5)] hover:scale-105
                   flex flex-col h-full text-left">

                    <!-- Icône -->
                    <i
                        class="fa-solid fa-ranking-star text-lime-400  group-hover:text-lime-400 text-2xl sm:text-3xl mb-4 block"></i>

                    <!-- Titre -->
                    <h2 class="text-xl sm:text-2xl font-bold text-lime-400  group-hover:text-lime-400 mb-2">
                        O'League
                    </h2>

                    <!-- Description -->
                    <p class="text-gray-300 text-sm sm:text-base leading-relaxed mb-6">
                        La compétition reine regroupant toutes les équipes. <br class="hidden sm:block">
                        2 conférences, 13 journées, des playoffs intenses… <br class="hidden sm:block">
                        Seule la meilleure équipe soulèvera le titre ultime.
                    </p>

                    <!-- Bouton -->
                    <span class="mt-auto w-fit whitespace-nowrap px-4 py-2 rounded bg-lime-400  
                         text-black  text-sm font-semibold transition-all 
                         group-hover:bg-lime-400 group-hover:text-black">
                        Voir la compétition →
                    </span>

                </a>
            </div>

            <!-- O'Cup -->
            <div class="group">
                <a href="" class="mx-4 sm:mx-8 md:mx-0 bg-gray-900 rounded-lg p-6 sm:p-8
                  transition-all  md:shadow-none md:hover:shadow-[0_0_20px_5px_rgba(0,255,255,0.5)] hover:scale-105
                  flex flex-col h-full text-left">

                    <!-- Icône -->
                    <i
                        class="fa-solid fa-trophy text-cyan-500  group-hover:text-cyan-500 text-2xl sm:text-3xl mb-4 block"></i>

                    <!-- Titre -->
                    <h2 class="text-xl sm:text-2xl font-bold text-cyan-500  group-hover:text-cyan-500 mb-2">
                        O'Cup
                    </h2>

                    <!-- Description -->
                    <p class="text-gray-300 text-sm sm:text-base leading-relaxed mb-6">
                        Un format couperet, rythmé et impitoyable. <br class="hidden sm:block"> <br class="hidden sm:block">
                        1 classement unique, 6 cuts éliminatoires et un Final 4 explosif… <br class="hidden sm:block">
                        Ici, seule la régularité mène à la gloire.
                    </p>

                    <!-- Bouton -->
                    <span class="mt-auto w-fit whitespace-nowrap px-4 py-2 rounded bg-cyan-500 
                         text-black  text-sm font-semibold transition-all 
                         group-hover:bg-cyan-500 group-hover:text-black">
                        Voir la compétition →
                    </span>

                </a>
            </div>

            <!-- O'Solo -->
            <div class="group">
                <a href="" class="mx-4 sm:mx-8 md:mx-0 bg-gray-900 rounded-lg p-6 sm:p-8
                  transition-all shadow-lg hover:shadow-[0_0_20px_5px_rgba(234,179,8,0.5)] hover:scale-105
                  flex flex-col h-full text-left">

                    <!-- Icône -->
                    <i
                        class="fa-solid fa-user text-yellow-400 group-hover:text-yellow-400 text-2xl sm:text-3xl mb-4 block"></i>

                    <!-- Titre -->
                    <h2 class="text-xl sm:text-2xl font-bold text-yellow-400 group-hover:text-yellow-400 mb-2">
                        O'Solo
                    </h2>

                    <!-- Description -->
                    <p class="text-gray-300 text-justify md:text-start text-sm sm:text-base leading-relaxed mb-6">
                        La compétition individuelle ultime. <br class="hidden sm:block"> <br class="hidden sm:block">
                        7 ligues, 8 périodes, montées & descentes, et une bataille pour le top 16. <br
                            class="hidden sm:block">
                        Un seul joueur ira au bout et deviendra champion.
                    </p>

                    <!-- Bouton -->
                    <span class="mt-auto w-fit whitespace-nowrap px-4 py-2 rounded bg-yellow-400 
                         text-black text-sm font-semibold transition-all 
                         group-hover:bg-yellow-400 group-hover:text-black">
                        Voir la compétition →
                    </span>

                </a>
            </div>

        </div>


    </div>
</section>


{% endblock %}